[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=5.2.8",
    "django-ninja>=1.5.0",
    "dotenv>=0.9.9",
    "psycopg2-binary>=2.9.11",
    "python-dotenv>=1.2.1",
]
